.weatherIcon{
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  display: block;
  height: 25%;
  margin: 2rem auto;
  }

  .input-group .fa-search:hover {
    color: #444444 ; /* Color when hovered */
    background-color: #9999990c;
  }
  