.weatherIcon{
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  display: block;
  height: 25%;
  margin: 2rem auto;
  }

  .search-btn {
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .search-btn:hover {
    color: #ff8500; 
    transform: scale(1.3); 
  }

  @media screen and (max-width: 1627px) {
    .converter {
      margin-bottom: 30px;
    }
  }